workflows/wf-1.10---dashboard-semanal-qa--jira-github--bNh80re8Uo8Zjha1.json
{"updatedAt":"2026-05-12T21:20:50.284Z","createdAt":"2026-05-11T22:51:38.945Z","id":"bNh80re8Uo8Zjha1","name":"WF-1.10 — Dashboard Semanal QA (Jira+GitHub)","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 16 * * 2,5"}]}},"id":"wf110-schedule","name":"Schedule Mar/Vie 4pm Chile","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[240,304]},{"parameters":{"url":"https://qaprocess1.atlassian.net/rest/api/3/search/jql","sendQuery":true,"queryParameters":{"parameters":[{"name":"jql","value":"project = KAN AND statusCategory != Done ORDER BY priority ASC, created DESC"},{"name":"fields","value":"summary,status,priority,assignee,created,issuetype"},{"name":"maxResults","value":"50"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Basic amFpbWVxdi4yNjA5QGdtYWlsLmNvbTpBVEFUVDN4RmZHRjBOcC1xZWhIekZTaU1vbHItWEV2TndhemRCMVplcnNQVi1FZ2dBSjVYQ2sxZHBzbHI0MEJCZkR4dzdlOGJJVkoxZkFwZGlmaVU1VG1laEIyQXQ1c0lfZGxaZnRyN1NhczlIc2UwYmRUc0RyaElFOW9oOGJYMERqcVdlQ2xyelJ4OGJFM0VocUFEVzZLUGNSMGpTVDV2WE9fRFgwcjMyVkZjd3lKZFhNUjV3Njg5"},{"name":"Content-Type","value":"application/json"}]},"options":{"timeout":10000}},"id":"wf110-jira-open","name":"Jira: Bugs Abiertos","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[464,304]},{"parameters":{"url":"https://qaprocess1.atlassian.net/rest/api/3/search/jql","sendQuery":true,"queryParameters":{"parameters":[{"name":"jql","value":"project = KAN AND statusCategory = Done ORDER BY updated DESC"},{"name":"fields","value":"summary,status,priority,resolutiondate,issuetype"},{"name":"maxResults","value":"100"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Basic amFpbWVxdi4yNjA5QGdtYWlsLmNvbTpBVEFUVDN4RmZHRjBOcC1xZWhIekZTaU1vbHItWEV2TndhemRCMVplcnNQVi1FZ2dBSjVYQ2sxZHBzbHI0MEJCZkR4dzdlOGJJVkoxZkFwZGlmaVU1VG1laEIyQXQ1c0lfZGxaZnRyN1NhczlIc2UwYmRUc0RyaElFOW9oOGJYMERqcVdlQ2xyelJ4OGJFM0VocUFEVzZLUGNSMGpTVDV2WE9fRFgwcjMyVkZjd3lKZFhNUjV3Njg5"},{"name":"Content-Type","value":"application/json"}]},"options":{"timeout":10000}},"id":"wf110-jira-resolved","name":"Jira: Bugs Resueltos","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[688,304]},{"parameters":{"url":"https://api.github.com/repos/jaime1992/Bupa_PortalPacientes/actions/runs?workflow_id=bupa-ci.yml&per_page=10","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github+json"},{"name":"User-Agent","value":"n8n-wf110-dashboard"}]},"options":{"timeout":15000}},"id":"wf110-github","name":"GitHub: Pipeline Runs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[912,304]},{"parameters":{"jsCode":"const jiraAbiertos  = $('Jira: Bugs Abiertos').first().json;\nconst jiraResueltos = $('Jira: Bugs Resueltos').first().json;\nconst githubData    = $('GitHub: Pipeline Runs').first().json;\n\nconst issues     = jiraAbiertos.issues  || [];\nconst totalOpen  = jiraAbiertos.total   || issues.length;\nconst totalFixed = jiraResueltos.total  || (jiraResueltos.issues || []).length;\n\nconst criticos = issues.filter(i => {\n  const p = i.fields?.priority?.name || '';\n  return p === 'Critical' || p === 'Highest' || p === 'High';\n}).length;\nconst medios = issues.filter(i => i.fields?.priority?.name === 'Medium').length;\n\nconst runs     = githubData.workflow_runs || [];\nconst recent10 = runs.slice(0, 10);\nconst runsOk   = recent10.filter(r => r.conclusion === 'success').length;\nconst passRate = recent10.length > 0 ? Math.round(runsOk / recent10.length * 100) : 0;\nconst lastRun  = recent10[0] || {};\n\n// Jobs del ultimo run (desde nodo HTTP separado)\nlet jobsTotal  = 0;\nlet jobsOk     = 0;\nlet failedSpec = '';\n\nconst jobsData = $input.first().json;\nconst matrixJobs = (jobsData.jobs || []).filter(j =>\n  j.name.includes('Tests Criticos') || j.name.includes('Portal Pacientes')\n);\njobsTotal = matrixJobs.length > 0 ? matrixJobs.length : (jobsData.jobs || []).length;\njobsOk    = matrixJobs.length > 0\n  ? matrixJobs.filter(j => j.conclusion === 'success').length\n  : (jobsData.jobs || []).filter(j => j.conclusion === 'success').length;\n\nconst failedJob = (jobsData.jobs || []).find(j => j.conclusion === 'failure');\nif (failedJob) {\n  const match = failedJob.name.match(/\\(([^)]+)\\)/);\n  failedSpec = match ? match[1].replace('cypress/e2e/bupa/', '') : failedJob.name;\n}\n\nconst lastStatus = lastRun.conclusion === 'success' ? 'PASSED'\n                 : lastRun.conclusion === 'failure'  ? 'FAILED' : 'Running';\n\nconst ahora      = new Date();\nconst hora       = ahora.toLocaleTimeString('es-CL', { timeZone:'America/Santiago', hour:'2-digit', minute:'2-digit' });\nconst dd         = String(ahora.getDate()).padStart(2,'0');\nconst mm         = String(ahora.getMonth()+1).padStart(2,'0');\nconst yyyy       = ahora.getFullYear();\nconst fechaCorta = `${dd}-${mm}-${yyyy}`;\nconst fechaLarga = ahora.toLocaleDateString('es-CL', { timeZone:'America/Santiago', weekday:'long', year:'numeric', month:'long', day:'numeric' });\n\nconst prioColor = { Critical:'#C62828', Highest:'#C62828', High:'#E65100', Medium:'#F9A825', Low:'#388E3C', Lowest:'#388E3C' };\nconst prioEmoji = { Critical:'🔴', Highest:'🔴', High:'🟠', Medium:'🟡', Low:'🟢', Lowest:'🟢' };\nconst typeEmoji = { Bug:'🐛', Task:'📋', Story:'📖', Epic:'⚡' };\n\nconst rowsIssues = issues.slice(0, 8).map(i => {\n  const prio  = i.fields?.priority?.name || 'Medium';\n  const color = prioColor[prio] || '#757575';\n  const emoji = prioEmoji[prio] || '⚪';\n  const tipo  = typeEmoji[i.fields?.issuetype?.name] || '📌';\n  const key   = i.key || '';\n  const sum   = (i.fields?.summary || '').substring(0, 55);\n  const stat  = i.fields?.status?.name || '';\n  const url   = `https://qaprocess1.atlassian.net/browse/${key}`;\n  return `<tr style=\"border-bottom:1px solid #E3F2FD\">\n    <td style=\"padding:8px 10px\"><a href=\"${url}\" style=\"color:#1976D2;font-weight:bold;text-decoration:none\">${key}</a></td>\n    <td style=\"padding:8px 10px;font-size:13px\">${tipo} ${sum}</td>\n    <td style=\"padding:8px 10px;text-align:center\"><span style=\"background:${color}20;color:${color};padding:2px 8px;border-radius:10px;font-size:11px;font-weight:bold\">${emoji} ${prio}</span></td>\n    <td style=\"padding:8px 10px;text-align:center;font-size:12px;color:#546E7A\">${stat}</td>\n  </tr>`;\n}).join('');\n\nconst rowsRuns = recent10.slice(0, 5).map(r => {\n  const ok    = r.conclusion === 'success';\n  const color = ok ? '#2E7D32' : r.conclusion === 'failure' ? '#C62828' : '#F57F17';\n  const icon  = ok ? '✅' : r.conclusion === 'failure' ? '❌' : '⏳';\n  const d     = new Date(r.created_at);\n  const fRun  = `${String(d.getDate()).padStart(2,'0')}-${String(d.getMonth()+1).padStart(2,'0')}-${d.getFullYear()}`;\n  const spec  = (r.id === lastRun.id && failedSpec) ? `<br><span style=\"font-size:10px;color:#C62828\">↳ ${failedSpec}</span>` : '';\n  return `<tr style=\"border-bottom:1px solid #E3F2FD\">\n    <td style=\"padding:7px 10px\"><span style=\"color:${color};font-weight:bold\">${icon} ${(r.conclusion||'running').toUpperCase()}</span>${spec}</td>\n    <td style=\"padding:7px 10px;font-size:12px;color:#1976D2\">${(r.head_branch||'').substring(0,20)}</td>\n    <td style=\"padding:7px 10px;font-size:12px;color:#546E7A\">${fRun}</td>\n    <td style=\"padding:7px 10px;font-size:12px;color:#546E7A\">${r.actor?.login||'N/A'}</td>\n  </tr>`;\n}).join('');\n\nconst failedMsg = failedSpec ? `⚠️ Último fallo: <b>${failedSpec}</b><br>` : '';\nconst jobsLabel = jobsTotal > 0 ? `${jobsOk}/${jobsTotal}` : `${runsOk}/${recent10.length}`;\n\nconst htmlEmail = `<!DOCTYPE html><html><head><meta charset=\"UTF-8\"></head>\n<body style=\"margin:0;padding:0;background:#F0F4F8;font-family:Arial,sans-serif\">\n<div style=\"max-width:700px;margin:20px auto;background:white;border-radius:12px;overflow:hidden;box-shadow:0 4px 20px rgba(0,0,0,0.1)\">\n  <div style=\"background:linear-gradient(135deg,#0D47A1 0%,#1976D2 100%);padding:28px 32px\">\n    <div style=\"color:#64B5F6;font-size:11px;font-weight:bold;letter-spacing:2px;text-transform:uppercase\">QUALITY ASSURANCE</div>\n    <div style=\"color:white;font-size:22px;font-weight:bold;margin-top:4px\">Dashboard Semanal QA</div>\n    <div style=\"color:#90CAF9;font-size:12px;margin-top:3px\">Jira + GitHub Actions — BUPA Portal Pacientes</div>\n    <div style=\"color:#BBDEFB;font-size:11px;margin-top:12px;border-top:1px solid rgba(255,255,255,0.2);padding-top:10px\">\n      📅 ${fechaLarga.charAt(0).toUpperCase()+fechaLarga.slice(1)}  •  🕐 ${hora} hrs  •  QA Lead: Jaime Quiñelen\n    </div>\n  </div>\n  <div style=\"padding:24px 32px 8px\">\n    <div style=\"display:grid;grid-template-columns:1fr 1fr 1fr 1fr 1fr;gap:10px\">\n      <div style=\"background:#FFF3E0;border-radius:8px;padding:12px;border-left:4px solid #E65100;text-align:center\">\n        <div style=\"font-size:26px;font-weight:bold;color:#E65100\">${totalOpen}</div>\n        <div style=\"font-size:10px;color:#BF360C;font-weight:bold;margin-top:2px\">ABIERTOS</div>\n      </div>\n      <div style=\"background:#FFEBEE;border-radius:8px;padding:12px;border-left:4px solid #C62828;text-align:center\">\n        <div style=\"font-size:26px;font-weight:bold;color:#C62828\">${criticos}</div>\n        <div style=\"font-size:10px;color:#B71C1C;font-weight:bold;margin-top:2px\">CRÍTICOS</div>\n      </div>\n      <div style=\"background:#E8F5E9;border-radius:8px;padding:12px;border-left:4px solid #2E7D32;text-align:center\">\n        <div style=\"font-size:26px;font-weight:bold;color:#2E7D32\">${totalFixed}</div>\n        <div style=\"font-size:10px;color:#1B5E20;font-weight:bold;margin-top:2px\">RESUELTOS</div>\n      </div>\n      <div style=\"background:#E3F2FD;border-radius:8px;padding:12px;border-left:4px solid #1976D2;text-align:center\">\n        <div style=\"font-size:26px;font-weight:bold;color:#1976D2\">${runsOk}/${recent10.length}</div>\n        <div style=\"font-size:10px;color:#0D47A1;font-weight:bold;margin-top:2px\">RUNS OK</div>\n        <div style=\"font-size:9px;color:#546E7A;margin-top:1px\">histórico</div>\n      </div>\n      <div style=\"background:#EDE7F6;border-radius:8px;padding:12px;border-left:4px solid #6A1B9A;text-align:center\">\n        <div style=\"font-size:26px;font-weight:bold;color:#6A1B9A\">${jobsLabel}</div>\n        <div style=\"font-size:10px;color:#4A148C;font-weight:bold;margin-top:2px\">JOBS OK</div>\n        <div style=\"font-size:9px;color:#546E7A;margin-top:1px\">último run</div>\n      </div>\n    </div>\n  </div>\n  <div style=\"padding:20px 32px\">\n    <div style=\"font-size:14px;font-weight:bold;color:#0D47A1;margin-bottom:10px\">📋 Abiertos</div>\n    <table style=\"width:100%;border-collapse:collapse;font-size:13px\">\n      <thead><tr style=\"background:#0D47A1\">\n        <th style=\"padding:9px 10px;text-align:left;color:white;font-size:11px;width:80px\">ID</th>\n        <th style=\"padding:9px 10px;text-align:left;color:white;font-size:11px\">Descripción</th>\n        <th style=\"padding:9px 10px;text-align:center;color:white;font-size:11px;width:100px\">Prioridad</th>\n        <th style=\"padding:9px 10px;text-align:center;color:white;font-size:11px;width:90px\">Estado</th>\n      </tr></thead>\n      <tbody>${rowsIssues||'<tr><td colspan=\"4\" style=\"padding:12px;text-align:center;color:#9E9E9E\">Sin issues abiertos</td></tr>'}</tbody>\n    </table>\n  </div>\n  <div style=\"padding:4px 32px 20px\">\n    <div style=\"font-size:14px;font-weight:bold;color:#0D47A1;margin-bottom:10px\">⚙️ Pipeline — últimos runs</div>\n    <table style=\"width:100%;border-collapse:collapse;font-size:13px\">\n      <thead><tr style=\"background:#1565C0\">\n        <th style=\"padding:9px 10px;text-align:left;color:white;font-size:11px;width:160px\">Resultado</th>\n        <th style=\"padding:9px 10px;text-align:left;color:white;font-size:11px\">Branch</th>\n        <th style=\"padding:9px 10px;text-align:center;color:white;font-size:11px;width:110px\">Fecha</th>\n        <th style=\"padding:9px 10px;text-align:center;color:white;font-size:11px;width:90px\">Actor</th>\n      </tr></thead>\n      <tbody>${rowsRuns||'<tr><td colspan=\"4\" style=\"padding:12px;text-align:center;color:#9E9E9E\">Sin datos</td></tr>'}</tbody>\n    </table>\n  </div>\n  <div style=\"margin:0 32px 20px;background:#E3F2FD;border-radius:8px;padding:16px;border-left:4px solid #1976D2\">\n    <div style=\"font-size:12px;font-weight:bold;color:#0D47A1;margin-bottom:8px\">📊 Resumen Ejecutivo</div>\n    <div style=\"font-size:12px;color:#1A237E;line-height:1.7\">\n      ${failedMsg}\n      • Pipeline: <b>${runsOk} de ${recent10.length} runs OK</b> (${passRate}%) — Último: ${lastStatus}<br>\n      • Jobs último run: <b>${jobsOk}/${jobsTotal} exitosos</b>${failedSpec ? ` — fallo: <b>${failedSpec}</b>` : ''}<br>\n      • Issues: <b>${totalOpen} abiertos</b> (${criticos} críticos) — <b>${totalFixed} resueltos</b>\n    </div>\n  </div>\n  <div style=\"background:#0D47A1;padding:16px 32px;text-align:center\">\n    <div style=\"color:#90CAF9;font-size:11px\">Generado por <b style=\"color:white\">WF-1.10 Dashboard QA</b> — n8n  •  BUPA Chile</div>\n    <div style=\"color:#64B5F6;font-size:10px;margin-top:4px\">QA Lead: Jaime Quiñelen  •  ${fechaCorta}  •  ${hora} hrs</div>\n  </div>\n</div></body></html>`;\n\nconst asunto = `📊 [WF-1.10] Dashboard Semanal QA (4PM) — ${passRate}% Pass Rate — ${criticos>0?'🔴 '+criticos+' críticos':'✅ sin críticos'} — ${fechaCorta}`;\nreturn [{ json: { htmlEmail, asunto } }];\n"},"id":"wf110-code","name":"Calcular KPIs + HTML Premium","type":"n8n-nodes-base.code","typeVersion":2,"position":[1312,304]},{"parameters":{"method":"POST","url":"http://localhost:3025/send-email","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"to","value":"jaimeqv.2609@gmail.com"},{"name":"subject","value":"={{ $json.asunto }}"},{"name":"html","value":"={{ $json.htmlEmail }}"}]},"options":{"timeout":15000}},"id":"wf110-email","name":"Gmail: Dashboard QA","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1360,544]},{"parameters":{"content":"## WF-1.10 — Dashboard Semanal QA\n**Schedule:** Martes y Viernes 4pm Chile (UTC 19:00)\n\n**Flujo:**\n1. Jira: bugs abiertos (por prioridad)\n2. Jira: bugs resueltos ultimos 7 dias\n3. GitHub: ultimos 10 runs del pipeline\n4. Code: calcula KPIs + HTML premium\n5. Gmail: envia dashboard\n\n**Asunto:** Dashboard Semanal (Jira+GitHub) — XX% Pass Rate","height":220,"width":572},"id":"wf110-sticky","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[384,496]},{"parameters":{"url":"=https://api.github.com/repos/jaime1992/Bupa_PortalPacientes/actions/runs/{{ $(\"GitHub: Pipeline Runs\").first().json.workflow_runs[0].id }}/jobs","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github+json"},{"name":"User-Agent","value":"n8n-wf110-dashboard"}]},"options":{"timeout":10000}},"id":"wf110-github-jobs","name":"GitHub: Jobs Último Run","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,304]}],"connections":{"Schedule Mar/Vie 4pm Chile":{"main":[[{"node":"Jira: Bugs Abiertos","type":"main","index":0}]]},"Jira: Bugs Abiertos":{"main":[[{"node":"Jira: Bugs Resueltos","type":"main","index":0}]]},"Jira: Bugs Resueltos":{"main":[[{"node":"GitHub: Pipeline Runs","type":"main","index":0}]]},"GitHub: Pipeline Runs":{"main":[[{"node":"GitHub: Jobs Último Run","type":"main","index":0}]]},"Calcular KPIs + HTML Premium":{"main":[[{"node":"Gmail: Dashboard QA","type":"main","index":0}]]},"GitHub: Jobs Último Run":{"main":[[{"node":"Calcular KPIs + HTML Premium","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":{"node:Schedule Mar/Vie 4pm Chile":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"e6f713e7-b931-4894-b6e2-eb8694927122","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-05-11T22:51:39.000Z","createdAt":"2026-05-11T22:51:39.000Z","role":"workflow:owner","workflowId":"bNh80re8Uo8Zjha1","projectId":"CJByUTkvH2EWoyIZ"}],"activeVersion":null,"tags":[]}