workflows/wf-1.5---validar-ambientes-qa-y-reportar-estado-de-salud--cada-hora--kiIxb3EXlhMlcf26.json
{"updatedAt":"2026-05-12T14:15:15.280Z","createdAt":"2026-04-30T02:52:08.686Z","id":"kiIxb3EXlhMlcf26","name":"WF-1.5 — Validar Ambientes QA y Reportar Estado de Salud (Cada Hora)","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"## WF-1.5 — Health Check Ambientes QA\n\n**Schedule:** Cada 1 hora — Lunes a Viernes\n\n🟢 Dev: https://dev.portalpaciente.bupa.cl/login (ficticio)\n🟢 Staging/UAT: https://staging.portalpaciente.bupa.cl/login (ficticio)\n🟢 Prod: https://portalpaciente.bupa.cl/login (real)\n\n**Cuadro verde** = todos OK | **Cuadro rojo** = alguno caído","height":198,"width":616,"color":4},"id":"wf15-sticky","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[240,32]},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 * * * 1-5"}]}},"id":"wf15-schedule","name":"Schedule: Cada hora L-V","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[240,304]},{"parameters":{"jsCode":"\nconst https = require('https');\n\nconst AMBIENTES = [\n  {\n    nombre: 'Dev',\n    tag:    'DEV',\n    url:    'https://dev.portalpaciente.bupa.cl/login',\n    color:  '#1565C0'\n  },\n  {\n    nombre: 'Staging / UAT',\n    tag:    'STG/UAT',\n    url:    'https://staging.portalpaciente.bupa.cl/login',\n    color:  '#6A1B9A'\n  },\n  {\n    nombre: 'Producción',\n    tag:    'PROD',\n    url:    'https://portalpaciente.bupa.cl/login',\n    color:  '#1B5E20'\n  }\n];\n\nasync function checkUrl(url) {\n  return new Promise((resolve) => {\n    const timer = setTimeout(() => resolve({ ok: false, status: 0, error: 'Timeout (8s)' }), 8000);\n    try {\n      const req = https.get(url, { headers: { 'User-Agent': 'n8n-health-check-wf15' } }, (res) => {\n        clearTimeout(timer);\n        resolve({ ok: res.statusCode < 400, status: res.statusCode, error: null });\n        res.resume();\n      });\n      req.on('error', (e) => { clearTimeout(timer); resolve({ ok: false, status: 0, error: e.message }); });\n      req.on('timeout', ()  => { clearTimeout(timer); req.destroy(); resolve({ ok: false, status: 0, error: 'Timeout' }); });\n    } catch(e) {\n      clearTimeout(timer);\n      resolve({ ok: false, status: 0, error: e.message });\n    }\n  });\n}\n\n// Verificar los 3 ambientes en paralelo\nconst checks = await Promise.all(AMBIENTES.map(async (amb) => {\n  const result = await checkUrl(amb.url);\n  return { ...amb, ...result };\n}));\n\nconst totalOk    = checks.filter(c => c.ok).length;\nconst totalDown  = checks.filter(c => !c.ok).length;\nconst todosOk    = totalDown === 0;\n\n// Fecha/hora Chile\nconst ahora      = new Date();\nconst hora       = ahora.toLocaleTimeString('es-CL', { timeZone: 'America/Santiago', hour: '2-digit', minute: '2-digit' });\nconst dd         = String(ahora.getDate()).padStart(2, '0');\nconst mm         = String(ahora.getMonth() + 1).padStart(2, '0');\nconst yyyy       = ahora.getFullYear();\nconst fechaCorta = `${dd}-${mm}-${yyyy}`;\nconst fechaLarga = ahora.toLocaleDateString('es-CL', { timeZone: 'America/Santiago', weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });\n\n// Colores globales según estado\nconst COLOR_HEADER = todosOk ? '#1B5E20' : '#B71C1C';\nconst COLOR_GRAD   = todosOk\n  ? 'linear-gradient(135deg,#1B5E20 0%,#2E7D32 100%)'\n  : 'linear-gradient(135deg,#B71C1C 0%,#C62828 100%)';\nconst ICON_ESTADO  = todosOk ? '✅' : '🔴';\nconst TEXTO_ESTADO = todosOk ? 'TODOS LOS AMBIENTES OPERATIVOS' : `${totalDown} AMBIENTE(S) CAÍDO(S)`;\n\n// Filas de la tabla\nconst filas = checks.map(c => {\n  const ok       = c.ok;\n  const bgRow    = ok ? '#F1F8E9' : '#FFEBEE';\n  const badgeBg  = ok ? '#E8F5E9' : '#FFCDD2';\n  const badgeClr = ok ? '#2E7D32' : '#C62828';\n  const icono    = ok ? '🟢' : '🔴';\n  const estado   = ok ? 'UP' : 'DOWN';\n  const statusTx = c.status > 0 ? `HTTP ${c.status}` : (c.error || 'Sin respuesta');\n  return `\n  <tr style=\"background:${bgRow};border-bottom:1px solid #E0E0E0\">\n    <td style=\"padding:12px 14px;font-weight:bold;font-size:13px;color:#212121\">${c.nombre}</td>\n    <td style=\"padding:12px 14px;font-size:11px;color:#546E7A;word-break:break-all\">${c.url}</td>\n    <td style=\"padding:12px 14px;text-align:center\">\n      <span style=\"background:${badgeBg};color:${badgeClr};padding:4px 12px;border-radius:12px;font-size:12px;font-weight:bold\">${icono} ${estado}</span>\n    </td>\n    <td style=\"padding:12px 14px;text-align:center;font-size:11px;color:#546E7A\">${statusTx}</td>\n  </tr>`;\n}).join('');\n\nconst htmlEmail = `<!DOCTYPE html>\n<html><head><meta charset=\"UTF-8\"></head>\n<body style=\"margin:0;padding:0;background:#F5F5F5;font-family:Arial,sans-serif\">\n<div style=\"max-width:680px;margin:20px auto;background:white;border-radius:12px;overflow:hidden;box-shadow:0 4px 20px rgba(0,0,0,0.12)\">\n\n  <!-- HEADER -->\n  <div style=\"background:${COLOR_GRAD};padding:28px 32px\">\n    <div style=\"display:flex;justify-content:space-between;align-items:center\">\n      <div>\n        <div style=\"color:rgba(255,255,255,0.8);font-size:11px;font-weight:bold;letter-spacing:2px;text-transform:uppercase\">QUALITY ASSURANCE</div>\n        <div style=\"color:white;font-size:22px;font-weight:bold;margin-top:4px\">🌐 Health Check — Ambientes QA</div>\n        <div style=\"color:rgba(255,255,255,0.85);font-size:12px;margin-top:3px\">BUPA Portal Pacientes — Validación automática</div>\n      </div>\n      <div style=\"background:rgba(255,255,255,0.15);border-radius:10px;padding:14px 18px;text-align:center\">\n        <div style=\"color:white;font-size:28px\">${ICON_ESTADO}</div>\n        <div style=\"color:rgba(255,255,255,0.9);font-size:9px;margin-top:4px;font-weight:bold\">${todosOk ? 'ALL OK' : 'ALERTA'}</div>\n      </div>\n    </div>\n    <div style=\"color:rgba(255,255,255,0.8);font-size:11px;margin-top:16px;border-top:1px solid rgba(255,255,255,0.2);padding-top:12px\">\n      📅 ${fechaLarga.charAt(0).toUpperCase() + fechaLarga.slice(1)}  •  🕐 ${hora} hrs  •  QA Lead: Jaime Quiñelen\n    </div>\n  </div>\n\n  <!-- BANNER ESTADO -->\n  <div style=\"background:${todosOk ? '#E8F5E9' : '#FFEBEE'};padding:14px 32px;border-bottom:3px solid ${todosOk ? '#2E7D32' : '#C62828'}\">\n    <div style=\"font-size:14px;font-weight:bold;color:${todosOk ? '#1B5E20' : '#B71C1C'};text-align:center\">\n      ${ICON_ESTADO} ${TEXTO_ESTADO}\n    </div>\n  </div>\n\n  <!-- KPI CARDS -->\n  <div style=\"padding:20px 32px 8px\">\n    <div style=\"display:grid;grid-template-columns:1fr 1fr 1fr;gap:12px\">\n      <div style=\"background:#E3F2FD;border-radius:8px;padding:14px;border-left:4px solid #1976D2;text-align:center\">\n        <div style=\"font-size:28px;font-weight:bold;color:#1976D2\">${checks.length}</div>\n        <div style=\"font-size:10px;color:#0D47A1;font-weight:bold;margin-top:2px\">AMBIENTES</div>\n      </div>\n      <div style=\"background:#E8F5E9;border-radius:8px;padding:14px;border-left:4px solid #2E7D32;text-align:center\">\n        <div style=\"font-size:28px;font-weight:bold;color:#2E7D32\">${totalOk}</div>\n        <div style=\"font-size:10px;color:#1B5E20;font-weight:bold;margin-top:2px\">OPERATIVOS</div>\n      </div>\n      <div style=\"background:${totalDown > 0 ? '#FFEBEE' : '#F5F5F5'};border-radius:8px;padding:14px;border-left:4px solid ${totalDown > 0 ? '#C62828' : '#9E9E9E'};text-align:center\">\n        <div style=\"font-size:28px;font-weight:bold;color:${totalDown > 0 ? '#C62828' : '#9E9E9E'}\">${totalDown}</div>\n        <div style=\"font-size:10px;color:${totalDown > 0 ? '#B71C1C' : '#757575'};font-weight:bold;margin-top:2px\">CAÍDOS</div>\n      </div>\n    </div>\n  </div>\n\n  <!-- TABLA AMBIENTES -->\n  <div style=\"padding:16px 32px 24px\">\n    <div style=\"font-size:13px;font-weight:bold;color:#0D47A1;margin-bottom:10px\">📋 Detalle por Ambiente</div>\n    <table style=\"width:100%;border-collapse:collapse;font-size:13px;border-radius:8px;overflow:hidden\">\n      <thead>\n        <tr style=\"background:#0D47A1\">\n          <th style=\"padding:10px 14px;text-align:left;color:white;font-size:11px;width:130px\">Ambiente</th>\n          <th style=\"padding:10px 14px;text-align:left;color:white;font-size:11px\">URL</th>\n          <th style=\"padding:10px 14px;text-align:center;color:white;font-size:11px;width:100px\">Estado</th>\n          <th style=\"padding:10px 14px;text-align:center;color:white;font-size:11px;width:100px\">HTTP</th>\n        </tr>\n      </thead>\n      <tbody>${filas}</tbody>\n    </table>\n  </div>\n\n  <!-- NOTA Dev/Staging -->\n  ${!todosOk ? `<div style=\"margin:0 32px 20px;background:#FFF8E1;border-radius:8px;padding:12px 16px;border-left:4px solid #F9A825\">\n    <div style=\"font-size:11px;color:#E65100\"><b>ℹ️ Nota:</b> Dev y Staging/UAT usan URLs ficticias de prueba — se espera que estén caídos en este entorno.</div>\n  </div>` : ''}\n\n  <!-- FOOTER -->\n  <div style=\"background:#0D47A1;padding:16px 32px;text-align:center\">\n    <div style=\"color:#90CAF9;font-size:11px\">Generado por <b style=\"color:white\">WF-1.5 Health Check QA</b> — n8n  •  BUPA Chile</div>\n    <div style=\"color:#64B5F6;font-size:10px;margin-top:4px\">Próxima verificación automática en 1 hora  •  ${fechaCorta}  •  ${hora} hrs</div>\n  </div>\n\n</div></body></html>`;\n\nconst asunto = todosOk\n  ? `✅ [WF-1.5] Ambientes QA — TODOS OK — ${fechaCorta} ${hora}`\n  : `🔴 [WF-1.5] Ambientes QA — ${totalDown} CAÍDO(S) — ${fechaCorta} ${hora}`;\n\nreturn [{ json: {\n  emailPayload: { to: 'jaimeqv.2609@gmail.com', subject: asunto, html: htmlEmail },\n  resumen: { totalOk, totalDown, todosOk, checks: checks.map(c => ({ nombre: c.nombre, ok: c.ok, status: c.status })) }\n}}];\n"},"id":"wf15-validar","name":"Validar Ambientes + HTML","type":"n8n-nodes-base.code","typeVersion":2,"position":[512,304]},{"parameters":{"method":"POST","url":"http://localhost:3025/send-email","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.emailPayload) }}","options":{"timeout":10000}},"id":"wf15-email","name":"Enviar Email Ambientes","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[768,304]}],"connections":{"Schedule: Cada hora L-V":{"main":[[{"node":"Validar Ambientes + HTML","type":"main","index":0}]]},"Validar Ambientes + HTML":{"main":[[{"node":"Enviar Email Ambientes","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Santiago","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"55c697b7-1e4f-4c98-9753-94b35d906623","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-30T02:52:08.693Z","createdAt":"2026-04-30T02:52:08.693Z","role":"workflow:owner","workflowId":"kiIxb3EXlhMlcf26","projectId":"CJByUTkvH2EWoyIZ"}],"activeVersion":null,"tags":[]}