workflows/wf-1.1---cypress-regression---gmail-b8027512-6e6b-443a-a2a1-3a29a405dd91.json
{"updatedAt":"2026-05-17T20:33:15.934Z","createdAt":"2026-04-28T16:55:12.662Z","id":"b8027512-6e6b-443a-a2a1-3a29a405dd91","name":"WF-1.1 — Cypress Regression → Gmail","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"cypress-results","options":{}},"id":"a357fe4a-587e-4323-b20f-7cfd0ce34a1c","name":"Webhook Cypress","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[208,304],"webhookId":"b8fbe027-174f-4339-834e-3d41413813ba"},{"parameters":{"jsCode":"\nconst body    = $input.first().json.body || $input.first().json;\nconst stats   = body.stats   || {};\nconst results = (body.results || []).map(r => ({\n  file:  r.file || r.title || 'spec',\n  stats: r.stats || {},\n  tests: (r.tests || []).map(t => ({\n    title:    t.title    || '',\n    state:    t.state    || '',\n    duration: t.duration || 0,\n    err:      t.err ? String(t.err).substring(0, 150) : null,\n  }))\n}));\n\nreturn [{\n  json: {\n    suite:   body.suite || 'Cypress Suite',\n    stats,\n    results,\n    fecha:   new Date().toLocaleString('es-CL', { timeZone: 'America/Santiago' }),\n  }\n}];\n"},"id":"5643d920-ae24-4f4c-ae90-757f35808707","name":"Procesar Resultados","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,304]},{"parameters":{"method":"POST","url":"http://localhost:3025/run-cypress-report","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}},"id":"154efdaf-2919-45f3-be5d-f3e3aeb446db","name":"Enviar Gmail","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[768,304]},{"parameters":{"content":"test github","height":80,"width":150},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[496,192],"id":"b35ac5b9-0a33-42e8-8f6f-b9eb8793db78","name":"Sticky Note"}],"connections":{"Webhook Cypress":{"main":[[{"node":"Procesar Resultados","type":"main","index":0}]]},"Procesar Resultados":{"main":[[{"node":"Enviar Gmail","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{},"pinData":{},"versionId":"4c461e72-d06b-4c13-862a-060ea31a7f3c","activeVersionId":"9025573e-3706-4237-a881-efb6de228485","triggerCount":1,"shared":[{"updatedAt":"2026-04-28T16:55:12.664Z","createdAt":"2026-04-28T16:55:12.664Z","role":"workflow:owner","workflowId":"b8027512-6e6b-443a-a2a1-3a29a405dd91","projectId":"CJByUTkvH2EWoyIZ"}],"activeVersion":{"updatedAt":"2026-04-28T18:11:40.850Z","createdAt":"2026-04-28T18:11:40.850Z","versionId":"9025573e-3706-4237-a881-efb6de228485","workflowId":"b8027512-6e6b-443a-a2a1-3a29a405dd91","nodes":[{"id":"a357fe4a-587e-4323-b20f-7cfd0ce34a1c","name":"Webhook Cypress","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[200,300],"parameters":{"httpMethod":"POST","path":"cypress-results","responseMode":"onReceived","options":{}}},{"id":"5643d920-ae24-4f4c-ae90-757f35808707","name":"Procesar Resultados","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,300],"parameters":{"jsCode":"\nconst body    = $input.first().json.body || $input.first().json;\nconst stats   = body.stats   || {};\nconst results = (body.results || []).map(r => ({\n  file:  r.file || r.title || 'spec',\n  stats: r.stats || {},\n  tests: (r.tests || []).map(t => ({\n    title:    t.title    || '',\n    state:    t.state    || '',\n    duration: t.duration || 0,\n    err:      t.err ? String(t.err).substring(0, 150) : null,\n  }))\n}));\n\nreturn [{\n  json: {\n    suite:   body.suite || 'Cypress Suite',\n    stats,\n    results,\n    fecha:   new Date().toLocaleString('es-CL', { timeZone: 'America/Santiago' }),\n  }\n}];\n"}},{"id":"154efdaf-2919-45f3-be5d-f3e3aeb446db","name":"Enviar Gmail","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[760,300],"parameters":{"method":"POST","url":"http://localhost:3025/run-cypress-report","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}}}],"connections":{"Webhook Cypress":{"main":[[{"node":"Procesar Resultados","type":"main","index":0}]]},"Procesar Resultados":{"main":[[{"node":"Enviar Gmail","type":"main","index":0}]]}},"authors":"Jaime","name":"WF-1.1 — Cypress Regression → Gmail","description":null,"autosaved":false},"tags":[]}