workflows/wf-1.3---nuevos-kan-jira----excel---gmail--2min---arreglar--92f69019-6820-4527-9456-a2f6a843ed8f.json
{"updatedAt":"2026-05-13T13:06:33.453Z","createdAt":"2026-04-28T15:15:54.438Z","id":"92f69019-6820-4527-9456-a2f6a843ed8f","name":"WF-1.3 - Nuevos KAN JIRA -> Excel + Gmail (2min) (Arreglar)","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"*/2 * * * *"}]}},"id":"a67e7ae2-4a2a-40df-9e4f-fd761f7d7708","name":"Cada 2 minutos","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[432,288]},{"parameters":{"url":"https://qaprocess1.atlassian.net/rest/api/3/search/jql","sendQuery":true,"queryParameters":{"parameters":[{"name":"jql","value":"project = KAN AND issuetype = Task AND status = \"To Do\" AND created >= -4m ORDER BY created DESC"},{"name":"maxResults","value":"20"},{"name":"fields","value":"summary,issuetype,status,priority,assignee,reporter,created"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Basic amFpbWVxdi4yNjA5QGdtYWlsLmNvbTpBVEFUVDN4RmZHRjBOcC1xZWhIekZTaU1vbHItWEV2TndhemRCMVplcnNQVi1FZ2dBSjVYQ2sxZHBzbHI0MEJCZkR4dzdlOGJJVkoxZkFwZGlmaVU1VG1laEIyQXQ1c0lfZGxaZnRyN1NhczlIc2UwYmRUc0RyaElFOW9oOGJYMERqcVdlQ2xyelJ4OGJFM0VocUFEVzZLUGNSMGpTVDV2WE9fRFgwcjMyVkZjd3lKZFhNUjV3Njg9RDI0NkEzOUI="},{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"2e9bb0f9-0ed3-4ca9-ac93-c659d0b54f42","name":"Jira: Buscar Tasks nuevas","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,288]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"0078a94a-a031-452f-940e-f7740d7b4213","leftValue":"={{ $json.total }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"6255354f-1430-49c9-be50-9a476207d4ac","name":"Hay Tasks nuevas?","type":"n8n-nodes-base.if","typeVersion":2,"position":[912,416]},{"parameters":{"jsCode":"\nconst data   = $input.first().json;\nconst issues = data.issues || [];\n\nconst tasks = issues.map(issue => {\n  const f = issue.fields || {};\n  return {\n    key:      issue.key,\n    summary:  (f.summary || '').substring(0, 120),\n    type:     f.issuetype?.name  || 'Task',\n    status:   f.status?.name     || 'To Do',\n    priority: f.priority?.name   || 'Medium',\n    assignee: f.assignee?.displayName || 'Sin asignar',\n    reporter: f.reporter?.displayName || '',\n    created:  (f.created || '').substring(0, 10),\n    url:      'https://qaprocess1.atlassian.net/browse/' + issue.key,\n    description: (() => {\n      const d = f.description;\n      if (!d) return '';\n      if (typeof d === 'string') return d.substring(0, 200);\n      try {\n        return (d.content||[]).flatMap(b=>(b.content||[]).map(c=>c.text||'')).join(' ').substring(0,200);\n      } catch { return ''; }\n    })(),\n  };\n});\n\nconst fecha = new Date().toLocaleString('es-CL', { timeZone: 'America/Santiago' });\nconst today = new Date().toISOString().split('T')[0];\n\nreturn [{ json: { tasks, total: tasks.length, fecha, date: today } }];\n"},"id":"f4607dc4-1374-4c2b-ba84-0c9fa2715d7f","name":"Split Issues","type":"n8n-nodes-base.code","typeVersion":2,"position":[1024,272]},{"parameters":{"jsCode":"\nconst item  = $input.first().json;\nconst tasks = item.tasks || [];\nconst fecha = item.fecha || '';\n\nconst lines = tasks.map(t =>\n  `📋 *${t.key}* — ${t.summary}\\n` +\n  `   Prioridad: ${t.priority} | Asignado: ${t.assignee}\\n` +\n  `   ${t.url}`\n).join('\\n\\n');\n\nconst msg =\n  `🆕 *Nueva Task QA — KAN*\\n` +\n  `Fecha: ${fecha}\\n` +\n  `Total: ${tasks.length} task(s)\\n\\n` +\n  lines;\n\nreturn [{ json: { ...item, mensajeWhatsApp: encodeURIComponent(msg) } }];\n"},"id":"57a9dbb7-b3b1-444d-bc3b-27539c5862ce","name":"Preparar Datos","type":"n8n-nodes-base.code","typeVersion":2,"position":[1216,272]},{"parameters":{"method":"POST","url":"http://localhost:3025/run-jira-tasks-report","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}},"id":"7db782d0-f05a-4600-91af-561cd67dccdc","name":"Generar Excel y Enviar Email","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1392,272]},{"parameters":{"jsCode":"const now = Date.now();\nconst MAX_AGE_MS = 150000; // 2.5 minutos\n\nconst allIssues = $input.first().json.issues || [];\n\nconst nuevos = allIssues.filter(issue => {\n  // Filtro 1: timestamp - issue debe tener menos de 2.5 min de vida\n  const created = issue.fields && issue.fields.created;\n  if (!created) return false;\n  const age = now - new Date(created).getTime();\n  if (age > MAX_AGE_MS) return false;\n\n  // Filtro 2: status no debe ser Done\n  const statusName = issue.fields && issue.fields.status && issue.fields.status.name;\n  if (!statusName || statusName === 'Done' || statusName === 'done') return false;\n\n  return true;\n});\n\n// Siempre retornar objeto explicito — nunca [] vacio\n// para que el IF node reciba datos y evalúe correctamente\nreturn [{ json: { total: nuevos.length, issues: nuevos } }];\n"},"id":"filtrar-nuevos-wf13","name":"Filtrar Nuevos","type":"n8n-nodes-base.code","typeVersion":2,"position":[784,288]},{"parameters":{"content":"Comportamiento de ahora en adelante:\n\nSituación\tResultado\nPrimera ejecución (sin historial) ==> Envía el KAN más reciente, guarda su ID\nEjecución con KAN nuevo ==> Envía solo el/los nuevos\nEjecución sin KAN nuevo ==> total: 0 → IF corta → sin email\nCrear KAN-100 → esperar 2 min ==> Email automático con KAN-100","height":144,"width":576},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[672,96],"id":"69fb7991-a9f2-465b-a9ad-750b23c04b95","name":"Sticky Note"},{"parameters":{},"id":"3f174724-d4d3-4f4a-a5b1-eca9637caa50","name":"Sin Tasks nuevas","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1120,432]}],"connections":{"Cada 2 minutos":{"main":[[{"node":"Jira: Buscar Tasks nuevas","type":"main","index":0}]]},"Jira: Buscar Tasks nuevas":{"main":[[{"node":"Filtrar Nuevos","type":"main","index":0}]]},"Hay Tasks nuevas?":{"main":[[{"node":"Split Issues","type":"main","index":0}],[{"node":"Sin Tasks nuevas","type":"main","index":0}]]},"Split Issues":{"main":[[{"node":"Preparar Datos","type":"main","index":0}]]},"Preparar Datos":{"main":[[{"node":"Generar Excel y Enviar Email","type":"main","index":0}]]},"Filtrar Nuevos":{"main":[[{"node":"Hay Tasks nuevas?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"saveExecutionProgress":true,"binaryMode":"separate"},"staticData":null,"meta":{},"pinData":{},"versionId":"d78c6e5a-bdd6-4230-8f73-aee8829657ad","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-04-28T15:15:54.440Z","createdAt":"2026-04-28T15:15:54.440Z","role":"workflow:owner","workflowId":"92f69019-6820-4527-9456-a2f6a843ed8f","projectId":"CJByUTkvH2EWoyIZ"}],"activeVersion":null,"tags":[]}