workflows/wf-1.9---github-pipeline---gmail---whatsapp---jira-PR5DhEZvgyLQuWe5.json
{"updatedAt":"2026-05-12T14:53:41.000Z","createdAt":"2026-05-08T14:52:58.130Z","id":"PR5DhEZvgyLQuWe5","name":"WF-1.9 — GitHub Pipeline → Gmail + WhatsApp + Jira","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"bupa-pipeline-result","options":{}},"id":"82b65a53-6354-4eae-9cc8-6b3fd2f43326","name":"Webhook GitHub Pipeline","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[2656,144],"webhookId":"bupa-pipeline-result-wf111"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"cond-pipeline-status","leftValue":"={{ $json.body?.status ?? $json.status }}","rightValue":"FAILED","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"a86706a1-0b71-44bb-809b-ba371b2c9887","name":"IF Pipeline Falló","type":"n8n-nodes-base.if","typeVersion":2,"position":[2896,144]},{"parameters":{"jsCode":"const raw = $input.first().json;\nconst d = raw.body ?? raw;\nconst ahora = new Date();\nconst hora = ahora.toLocaleTimeString('es-CL', { timeZone: 'America/Santiago', hour: '2-digit', minute: '2-digit' });\nconst fecha = ahora.toLocaleDateString('es-CL', { timeZone: 'America/Santiago' });\nconst WF = '[WF-1.9]';\n\nconst pipeline = d.pipeline || 'BUPA Portal Pacientes';\nconst branch   = d.branch   || 'master';\nconst actor    = d.actor    || 'sistema';\nconst run_url  = d.run_url  || '#';\n\nconst mensajeWA = `${WF} ❌ PIPELINE FALLÓ — BUPA Chile\\n\\n🔀 Branch: ${branch}\\n👤 Actor: ${actor}\\n🕐 Hora: ${hora} hrs\\n\\n🔗 ${run_url}\\n\\nRevisar inmediatamente.`;\n\nconst htmlEmail = `<div style=\"font-family:Arial;max-width:600px\"><h2 style=\"color:#c0392b\">❌ Pipeline FALLÓ — BUPA Portal Pacientes</h2><table style=\"border-collapse:collapse;width:100%\"><tr style=\"background:#f8d7da\"><td style=\"padding:10px\"><b>Pipeline</b></td><td style=\"padding:10px\">${pipeline}</td></tr><tr style=\"background:#fff\"><td style=\"padding:10px\"><b>Branch</b></td><td style=\"padding:10px\">${branch}</td></tr><tr style=\"background:#f8d7da\"><td style=\"padding:10px\"><b>Actor</b></td><td style=\"padding:10px\">${actor}</td></tr><tr style=\"background:#fff\"><td style=\"padding:10px\"><b>Hora</b></td><td style=\"padding:10px\">${hora} hrs — ${fecha}</td></tr></table><p><a href=\"${run_url}\">Ver logs en GitHub Actions</a></p></div>`;\n\nconst asunto = `❌ ${WF} Pipeline FALLÓ — ${pipeline} — ${branch} — ${hora} hrs`;\n\nconst jiraFields = {\n  project: { key: 'KAN' },\n  summary: `Pipeline FALLÓ — ${pipeline} — ${branch} — ${hora} hrs`,\n  issuetype: { name: 'Bug' }\n};\n\nreturn [{ json: { mensajeWA: encodeURIComponent(mensajeWA), htmlEmail, asunto, jiraFields, pipeline, branch, actor, run_url } }];"},"id":"cfbc74fe-c8bf-49cb-acdd-f81748ea8bd5","name":"Preparar Mensaje Fallo","type":"n8n-nodes-base.code","typeVersion":2,"position":[3136,0]},{"parameters":{"jsCode":"const raw = $input.first().json;\nconst d = raw.body ?? raw;\nconst ahora = new Date();\nconst hora = ahora.toLocaleTimeString('es-CL', { timeZone: 'America/Santiago', hour: '2-digit', minute: '2-digit' });\nconst fecha = ahora.toLocaleDateString('es-CL', { timeZone: 'America/Santiago' });\nconst WF = '[WF-1.9]';\n\nconst htmlEmail = `<div style=\"font-family:Arial;max-width:600px\"><h2 style=\"color:#27ae60;border-bottom:3px solid #27ae60;padding-bottom:8px\">✅ Pipeline OK — BUPA Portal Pacientes</h2><table style=\"border-collapse:collapse;width:100%\"><tr style=\"background:#d4edda\"><td style=\"padding:10px;width:130px\"><b>Estado</b></td><td style=\"padding:10px;color:#27ae60;font-weight:bold\">PASSED</td></tr><tr style=\"background:#fff\"><td style=\"padding:10px\"><b>Pipeline</b></td><td style=\"padding:10px\">${d.pipeline}</td></tr><tr style=\"background:#d4edda\"><td style=\"padding:10px\"><b>Branch</b></td><td style=\"padding:10px\">${d.branch}</td></tr><tr style=\"background:#fff\"><td style=\"padding:10px\"><b>Actor</b></td><td style=\"padding:10px\">${d.actor}</td></tr><tr style=\"background:#d4edda\"><td style=\"padding:10px\"><b>Hora</b></td><td style=\"padding:10px\">${hora} hrs — ${fecha}</td></tr></table><p style=\"margin-top:16px\"><a href=\"${d.run_url}\" style=\"background:#27ae60;color:#fff;padding:10px 20px;text-decoration:none;border-radius:4px\">Ver en GitHub Actions</a></p><p style=\"color:#999;font-size:12px;margin-top:20px\">Notificación automática — ${WF} QA Bupa Chile</p></div>`;\n\nconst asunto = `✅ ${WF} Pipeline OK — ${d.pipeline} — ${d.branch} — ${hora} hrs`;\n\nreturn [{ json: { htmlEmail, asunto } }];"},"id":"16ddd649-58fe-4e82-9baa-49ae1d2eeb72","name":"Preparar Mensaje OK","type":"n8n-nodes-base.code","typeVersion":2,"position":[3136,176]},{"parameters":{"method":"POST","url":"http://localhost:3025/send-email","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"to","value":"jaimeqv.2609@gmail.com,javi.gajardo26@gmail.com"},{"name":"subject","value":"={{ $json.asunto }}"},{"name":"html","value":"={{ $json.htmlEmail }}"}]},"options":{"timeout":15000}},"id":"4e94478e-4380-4f9f-98c2-539c234e4d38","name":"Gmail Fallo Pipeline","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3408,-112]},{"parameters":{"method":"POST","url":"https://api.twilio.com/2010-04-01/Accounts/AC3d95f28501dc9834ed18d085fc06f9fa/Messages.json","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Basic QUMzZDk1ZjI4NTAxZGM5ODM0ZWQxOGQwODVmYzA2ZjlmYTpkNThlYjcwNzYwYjU1ZDg2MWU3NzFjYjgyNGQ2YWNhMw=="}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"From","value":"whatsapp:+14155238886"},{"name":"To","value":"whatsapp:+56973473222"},{"name":"Body","value":"={{ decodeURIComponent($json.mensajeWA) }}"}]},"options":{"timeout":15000}},"id":"8a3d9dcd-2e14-4614-af84-ebffd3500310","name":"WhatsApp Jaime","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3408,80]},{"parameters":{"jsCode":"const https = require('https');\n\nconst input = $input.first().json;\nconst data  = input.pipeline ? input : (input.body || input);\nconst pipeline = data.pipeline || 'BUPA Portal Pacientes';\nconst branch   = data.branch   || 'master';\nconst actor    = data.actor    || 'sistema';\nconst run_url  = data.run_url  || '#';\n\nconst hora  = new Date().toLocaleTimeString('es-CL', { timeZone: 'America/Santiago', hour: '2-digit', minute: '2-digit' });\nconst fecha = new Date().toLocaleDateString('es-CL',  { timeZone: 'America/Santiago' });\nconst WF   = '[WF-1.9]';\nconst AUTH = 'Basic amFpbWVxdi4yNjA5QGdtYWlsLmNvbTpBVEFUVDN4RmZHRjBOcC1xZWhIekZTaU1vbHItWEV2TndhemRCMVplcnNQVi1FZ2dBSjVYQ2sxZHBzbHI0MEJCZkR4dzdlOGJJVkoxZkFwZGlmaVU1VG1laEIyQXQ1c0lfZGxaZnRyN1NhczlIc2UwYmRUc0RyaElFOW9oOGJYMERqcVdlQ2xyelJ4OGJFM0VocUFEVzZLUGNSMGpTVDV2WE9fRFgwcjMyVkZjd3lKZFhNUjV3Njg9RDI0NkEzOUI=';\n\nconst jiraRequest = (path, method, body) => new Promise((resolve, reject) => {\n  const payload = body ? JSON.stringify(body) : null;\n  const req = https.request({\n    hostname: 'qaprocess1.atlassian.net',\n    path, method,\n    headers: { 'Authorization': AUTH, 'Content-Type': 'application/json', ...(payload ? { 'Content-Length': Buffer.byteLength(payload) } : {}) }\n  }, (res) => {\n    let data = '';\n    res.on('data', chunk => data += chunk);\n    res.on('end', () => {\n      try { resolve({ status: res.statusCode, body: data ? JSON.parse(data) : {} }); }\n      catch(e) { resolve({ status: res.statusCode, body: data }); }\n    });\n  });\n  req.on('error', reject);\n  if (payload) req.write(payload);\n  req.end();\n});\n\nconst created = await jiraRequest('/rest/api/3/issue', 'POST', {\n  fields: {\n    project: { key: 'KAN' },\n    summary: `Pipeline FALLÓ — ${pipeline} — ${branch} — ${hora} hrs`,\n    issuetype: { name: 'Bug' },\n    assignee: { accountId: '712020:d72964df-4d9f-4c34-a497-4061c4bc86be' }\n  }\n});\n\nif (created.status !== 201) throw new Error(`Jira ${created.status}: ${JSON.stringify(created.body)}`);\n\nconst jiraKey = created.body.key;\nconst jiraUrl = `https://qaprocess1.atlassian.net/browse/${jiraKey}`;\n\nawait jiraRequest('/rest/agile/1.0/board/1/issue', 'POST', { issues: [jiraKey] });\n\nconst mensajeWA = `${WF} ❌ PIPELINE FALLÓ — BUPA Chile\\n\\n🔀 Branch: ${branch}\\n👤 Actor: ${actor}\\n🕐 Hora: ${hora} hrs\\n\\n🐛 Bug creado: ${jiraKey}\\n🔗 ${jiraUrl}\\n\\n📋 Pipeline:\\n${run_url}\\n\\nRevisar inmediatamente.`;\n\nconst htmlEmail = `<div style=\"font-family:Arial;max-width:600px\">\n<h2 style=\"color:#c0392b;border-bottom:3px solid #c0392b;padding-bottom:8px\">❌ Pipeline FALLÓ — BUPA Portal Pacientes</h2>\n<table style=\"border-collapse:collapse;width:100%\">\n<tr style=\"background:#f8d7da\"><td style=\"padding:10px;width:130px\"><b>Estado</b></td><td style=\"padding:10px;color:#c0392b;font-weight:bold\">FAILED</td></tr>\n<tr style=\"background:#fff\"><td style=\"padding:10px\"><b>Pipeline</b></td><td style=\"padding:10px\">${pipeline}</td></tr>\n<tr style=\"background:#f8d7da\"><td style=\"padding:10px\"><b>Branch</b></td><td style=\"padding:10px\">${branch}</td></tr>\n<tr style=\"background:#fff\"><td style=\"padding:10px\"><b>Actor</b></td><td style=\"padding:10px\">${actor}</td></tr>\n<tr style=\"background:#f8d7da\"><td style=\"padding:10px\"><b>Hora</b></td><td style=\"padding:10px\">${hora} hrs — ${fecha}</td></tr>\n<tr style=\"background:#fff\"><td style=\"padding:10px\"><b>Bug Jira</b></td><td style=\"padding:10px\"><a href=\"${jiraUrl}\" style=\"color:#c0392b;font-weight:bold\">${jiraKey}</a></td></tr>\n</table>\n<p style=\"margin-top:16px\">\n  <a href=\"${run_url}\" style=\"background:#c0392b;color:#fff;padding:10px 20px;text-decoration:none;border-radius:4px;margin-right:8px\">Ver logs GitHub Actions</a>\n  <a href=\"${jiraUrl}\" style=\"background:#0052cc;color:#fff;padding:10px 20px;text-decoration:none;border-radius:4px\">Abrir ${jiraKey} en Jira</a>\n</p>\n<p style=\"color:#999;font-size:12px;margin-top:20px\">Alerta automática — ${WF} QA Bupa Chile</p>\n</div>`;\n\nconst asunto = `❌ ${WF} Pipeline FALLÓ — ${pipeline} — ${branch} — Bug ${jiraKey} — ${hora} hrs`;\n\nreturn [{ json: { mensajeWA: encodeURIComponent(mensajeWA), htmlEmail, asunto, jiraKey, jiraUrl } }];"},"id":"03479c3a-a2fc-4cfc-8452-97c6fa9648eb","name":"Jira Crear Tarea","type":"n8n-nodes-base.code","typeVersion":2,"position":[3408,256]},{"parameters":{"method":"POST","url":"http://localhost:3025/send-email","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"to","value":"jaimeqv.2609@gmail.com"},{"name":"subject","value":"={{ $json.asunto }}"},{"name":"html","value":"={{ $json.htmlEmail }}"}]},"options":{"timeout":15000}},"id":"c0b920a9-171e-4cad-b1dc-12ddae64cdab","name":"Gmail Pipeline OK","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3360,496]},{"parameters":{"content":"## WF-1.9 — GitHub Pipeline → Gmail + WhatsApp + Jira\n\n**Trigger:** Webhook POST `/webhook/bupa-pipeline-result`\nGitHub Actions llama este endpoint al finalizar el job `notify`.\n\n**Payload esperado:**\n```\n{\n  \"pipeline\": \"BUPA Portal Pacientes\",\n  \"status\": \"PASSED\" | \"FAILED\",\n  \"branch\": \"master\",\n  \"actor\": \"jaime1992\",\n  \"run_url\": \"https://github.com/...\"\n}\n```\n\n**Si FAILED:** Gmail ❌ + WhatsApp + Jira Task\n**Si PASSED:** Gmail ✅ solo (sin WhatsApp ni Jira)\n\n**Requisito para CI:** Configurar secret `N8N_WEBHOOK_URL` en GitHub con la URL pública de este webhook. Para pruebas locales usar ngrok:\n`ngrok http 5678` → copiar URL → agregar `/webhook/bupa-pipeline-result`\n\n**Autor:** Jaime Quiñelen | Bupa Chile QA | Mayo 2026","height":420,"width":812,"color":3},"id":"975988e7-a29e-4a72-81dd-c3d9ed0c7bc4","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2208,-320]}],"connections":{"Webhook GitHub Pipeline":{"main":[[{"node":"IF Pipeline Falló","type":"main","index":0}]]},"IF Pipeline Falló":{"main":[[{"node":"Preparar Mensaje Fallo","type":"main","index":0}],[{"node":"Preparar Mensaje OK","type":"main","index":0}]]},"Preparar Mensaje Fallo":{"main":[[{"node":"Jira Crear Tarea","type":"main","index":0}]]},"Jira Crear Tarea":{"main":[[{"node":"Gmail Fallo Pipeline","type":"main","index":0},{"node":"WhatsApp Jaime","type":"main","index":0}]]},"Preparar Mensaje OK":{"main":[[{"node":"Gmail Pipeline OK","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"3e7cb023-6edf-42d7-9d33-18b7a37ad39a","activeVersionId":"3e7cb023-6edf-42d7-9d33-18b7a37ad39a","triggerCount":1,"shared":[{"updatedAt":"2026-05-08T14:52:58.138Z","createdAt":"2026-05-08T14:52:58.138Z","role":"workflow:owner","workflowId":"PR5DhEZvgyLQuWe5","projectId":"CJByUTkvH2EWoyIZ"}],"activeVersion":{"updatedAt":"2026-05-12T14:53:41.000Z","createdAt":"2026-05-12T14:53:41.000Z","versionId":"3e7cb023-6edf-42d7-9d33-18b7a37ad39a","workflowId":"PR5DhEZvgyLQuWe5","nodes":[{"parameters":{"httpMethod":"POST","path":"bupa-pipeline-result","options":{}},"id":"82b65a53-6354-4eae-9cc8-6b3fd2f43326","name":"Webhook GitHub Pipeline","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[2656,144],"webhookId":"bupa-pipeline-result-wf111"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"cond-pipeline-status","leftValue":"={{ $json.body?.status ?? $json.status }}","rightValue":"FAILED","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"a86706a1-0b71-44bb-809b-ba371b2c9887","name":"IF Pipeline Falló","type":"n8n-nodes-base.if","typeVersion":2,"position":[2896,144]},{"parameters":{"jsCode":"const raw = $input.first().json;\nconst d = raw.body ?? raw;\nconst ahora = new Date();\nconst hora = ahora.toLocaleTimeString('es-CL', { timeZone: 'America/Santiago', hour: '2-digit', minute: '2-digit' });\nconst fecha = ahora.toLocaleDateString('es-CL', { timeZone: 'America/Santiago' });\nconst WF = '[WF-1.9]';\n\nconst pipeline = d.pipeline || 'BUPA Portal Pacientes';\nconst branch   = d.branch   || 'master';\nconst actor    = d.actor    || 'sistema';\nconst run_url  = d.run_url  || '#';\n\nconst mensajeWA = `${WF} ❌ PIPELINE FALLÓ — BUPA Chile\\n\\n🔀 Branch: ${branch}\\n👤 Actor: ${actor}\\n🕐 Hora: ${hora} hrs\\n\\n🔗 ${run_url}\\n\\nRevisar inmediatamente.`;\n\nconst htmlEmail = `<div style=\"font-family:Arial;max-width:600px\"><h2 style=\"color:#c0392b\">❌ Pipeline FALLÓ — BUPA Portal Pacientes</h2><table style=\"border-collapse:collapse;width:100%\"><tr style=\"background:#f8d7da\"><td style=\"padding:10px\"><b>Pipeline</b></td><td style=\"padding:10px\">${pipeline}</td></tr><tr style=\"background:#fff\"><td style=\"padding:10px\"><b>Branch</b></td><td style=\"padding:10px\">${branch}</td></tr><tr style=\"background:#f8d7da\"><td style=\"padding:10px\"><b>Actor</b></td><td style=\"padding:10px\">${actor}</td></tr><tr style=\"background:#fff\"><td style=\"padding:10px\"><b>Hora</b></td><td style=\"padding:10px\">${hora} hrs — ${fecha}</td></tr></table><p><a href=\"${run_url}\">Ver logs en GitHub Actions</a></p></div>`;\n\nconst asunto = `❌ ${WF} Pipeline FALLÓ — ${pipeline} — ${branch} — ${hora} hrs`;\n\nconst jiraFields = {\n  project: { key: 'KAN' },\n  summary: `Pipeline FALLÓ — ${pipeline} — ${branch} — ${hora} hrs`,\n  issuetype: { name: 'Bug' }\n};\n\nreturn [{ json: { mensajeWA: encodeURIComponent(mensajeWA), htmlEmail, asunto, jiraFields, pipeline, branch, actor, run_url } }];"},"id":"cfbc74fe-c8bf-49cb-acdd-f81748ea8bd5","name":"Preparar Mensaje Fallo","type":"n8n-nodes-base.code","typeVersion":2,"position":[3136,0]},{"parameters":{"jsCode":"const raw = $input.first().json;\nconst d = raw.body ?? raw;\nconst ahora = new Date();\nconst hora = ahora.toLocaleTimeString('es-CL', { timeZone: 'America/Santiago', hour: '2-digit', minute: '2-digit' });\nconst fecha = ahora.toLocaleDateString('es-CL', { timeZone: 'America/Santiago' });\nconst WF = '[WF-1.9]';\n\nconst htmlEmail = `<div style=\"font-family:Arial;max-width:600px\"><h2 style=\"color:#27ae60;border-bottom:3px solid #27ae60;padding-bottom:8px\">✅ Pipeline OK — BUPA Portal Pacientes</h2><table style=\"border-collapse:collapse;width:100%\"><tr style=\"background:#d4edda\"><td style=\"padding:10px;width:130px\"><b>Estado</b></td><td style=\"padding:10px;color:#27ae60;font-weight:bold\">PASSED</td></tr><tr style=\"background:#fff\"><td style=\"padding:10px\"><b>Pipeline</b></td><td style=\"padding:10px\">${d.pipeline}</td></tr><tr style=\"background:#d4edda\"><td style=\"padding:10px\"><b>Branch</b></td><td style=\"padding:10px\">${d.branch}</td></tr><tr style=\"background:#fff\"><td style=\"padding:10px\"><b>Actor</b></td><td style=\"padding:10px\">${d.actor}</td></tr><tr style=\"background:#d4edda\"><td style=\"padding:10px\"><b>Hora</b></td><td style=\"padding:10px\">${hora} hrs — ${fecha}</td></tr></table><p style=\"margin-top:16px\"><a href=\"${d.run_url}\" style=\"background:#27ae60;color:#fff;padding:10px 20px;text-decoration:none;border-radius:4px\">Ver en GitHub Actions</a></p><p style=\"color:#999;font-size:12px;margin-top:20px\">Notificación automática — ${WF} QA Bupa Chile</p></div>`;\n\nconst asunto = `✅ ${WF} Pipeline OK — ${d.pipeline} — ${d.branch} — ${hora} hrs`;\n\nreturn [{ json: { htmlEmail, asunto } }];"},"id":"16ddd649-58fe-4e82-9baa-49ae1d2eeb72","name":"Preparar Mensaje OK","type":"n8n-nodes-base.code","typeVersion":2,"position":[3136,176]},{"parameters":{"method":"POST","url":"http://localhost:3025/send-email","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"to","value":"jaimeqv.2609@gmail.com,javi.gajardo26@gmail.com"},{"name":"subject","value":"={{ $json.asunto }}"},{"name":"html","value":"={{ $json.htmlEmail }}"}]},"options":{"timeout":15000}},"id":"4e94478e-4380-4f9f-98c2-539c234e4d38","name":"Gmail Fallo Pipeline","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3408,-112]},{"parameters":{"method":"POST","url":"https://api.twilio.com/2010-04-01/Accounts/AC3d95f28501dc9834ed18d085fc06f9fa/Messages.json","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Basic QUMzZDk1ZjI4NTAxZGM5ODM0ZWQxOGQwODVmYzA2ZjlmYTpkNThlYjcwNzYwYjU1ZDg2MWU3NzFjYjgyNGQ2YWNhMw=="}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"From","value":"whatsapp:+14155238886"},{"name":"To","value":"whatsapp:+56973473222"},{"name":"Body","value":"={{ decodeURIComponent($json.mensajeWA) }}"}]},"options":{"timeout":15000}},"id":"8a3d9dcd-2e14-4614-af84-ebffd3500310","name":"WhatsApp Jaime","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3408,80]},{"parameters":{"jsCode":"const https = require('https');\n\nconst input = $input.first().json;\nconst data  = input.pipeline ? input : (input.body || input);\nconst pipeline = data.pipeline || 'BUPA Portal Pacientes';\nconst branch   = data.branch   || 'master';\nconst actor    = data.actor    || 'sistema';\nconst run_url  = data.run_url  || '#';\n\nconst hora  = new Date().toLocaleTimeString('es-CL', { timeZone: 'America/Santiago', hour: '2-digit', minute: '2-digit' });\nconst fecha = new Date().toLocaleDateString('es-CL',  { timeZone: 'America/Santiago' });\nconst WF   = '[WF-1.9]';\nconst AUTH = 'Basic amFpbWVxdi4yNjA5QGdtYWlsLmNvbTpBVEFUVDN4RmZHRjBOcC1xZWhIekZTaU1vbHItWEV2TndhemRCMVplcnNQVi1FZ2dBSjVYQ2sxZHBzbHI0MEJCZkR4dzdlOGJJVkoxZkFwZGlmaVU1VG1laEIyQXQ1c0lfZGxaZnRyN1NhczlIc2UwYmRUc0RyaElFOW9oOGJYMERqcVdlQ2xyelJ4OGJFM0VocUFEVzZLUGNSMGpTVDV2WE9fRFgwcjMyVkZjd3lKZFhNUjV3Njg9RDI0NkEzOUI=';\n\nconst jiraRequest = (path, method, body) => new Promise((resolve, reject) => {\n  const payload = body ? JSON.stringify(body) : null;\n  const req = https.request({\n    hostname: 'qaprocess1.atlassian.net',\n    path, method,\n    headers: { 'Authorization': AUTH, 'Content-Type': 'application/json', ...(payload ? { 'Content-Length': Buffer.byteLength(payload) } : {}) }\n  }, (res) => {\n    let data = '';\n    res.on('data', chunk => data += chunk);\n    res.on('end', () => {\n      try { resolve({ status: res.statusCode, body: data ? JSON.parse(data) : {} }); }\n      catch(e) { resolve({ status: res.statusCode, body: data }); }\n    });\n  });\n  req.on('error', reject);\n  if (payload) req.write(payload);\n  req.end();\n});\n\nconst created = await jiraRequest('/rest/api/3/issue', 'POST', {\n  fields: {\n    project: { key: 'KAN' },\n    summary: `Pipeline FALLÓ — ${pipeline} — ${branch} — ${hora} hrs`,\n    issuetype: { name: 'Bug' },\n    assignee: { accountId: '712020:d72964df-4d9f-4c34-a497-4061c4bc86be' }\n  }\n});\n\nif (created.status !== 201) throw new Error(`Jira ${created.status}: ${JSON.stringify(created.body)}`);\n\nconst jiraKey = created.body.key;\nconst jiraUrl = `https://qaprocess1.atlassian.net/browse/${jiraKey}`;\n\nawait jiraRequest('/rest/agile/1.0/board/1/issue', 'POST', { issues: [jiraKey] });\n\nconst mensajeWA = `${WF} ❌ PIPELINE FALLÓ — BUPA Chile\\n\\n🔀 Branch: ${branch}\\n👤 Actor: ${actor}\\n🕐 Hora: ${hora} hrs\\n\\n🐛 Bug creado: ${jiraKey}\\n🔗 ${jiraUrl}\\n\\n📋 Pipeline:\\n${run_url}\\n\\nRevisar inmediatamente.`;\n\nconst htmlEmail = `<div style=\"font-family:Arial;max-width:600px\">\n<h2 style=\"color:#c0392b;border-bottom:3px solid #c0392b;padding-bottom:8px\">❌ Pipeline FALLÓ — BUPA Portal Pacientes</h2>\n<table style=\"border-collapse:collapse;width:100%\">\n<tr style=\"background:#f8d7da\"><td style=\"padding:10px;width:130px\"><b>Estado</b></td><td style=\"padding:10px;color:#c0392b;font-weight:bold\">FAILED</td></tr>\n<tr style=\"background:#fff\"><td style=\"padding:10px\"><b>Pipeline</b></td><td style=\"padding:10px\">${pipeline}</td></tr>\n<tr style=\"background:#f8d7da\"><td style=\"padding:10px\"><b>Branch</b></td><td style=\"padding:10px\">${branch}</td></tr>\n<tr style=\"background:#fff\"><td style=\"padding:10px\"><b>Actor</b></td><td style=\"padding:10px\">${actor}</td></tr>\n<tr style=\"background:#f8d7da\"><td style=\"padding:10px\"><b>Hora</b></td><td style=\"padding:10px\">${hora} hrs — ${fecha}</td></tr>\n<tr style=\"background:#fff\"><td style=\"padding:10px\"><b>Bug Jira</b></td><td style=\"padding:10px\"><a href=\"${jiraUrl}\" style=\"color:#c0392b;font-weight:bold\">${jiraKey}</a></td></tr>\n</table>\n<p style=\"margin-top:16px\">\n  <a href=\"${run_url}\" style=\"background:#c0392b;color:#fff;padding:10px 20px;text-decoration:none;border-radius:4px;margin-right:8px\">Ver logs GitHub Actions</a>\n  <a href=\"${jiraUrl}\" style=\"background:#0052cc;color:#fff;padding:10px 20px;text-decoration:none;border-radius:4px\">Abrir ${jiraKey} en Jira</a>\n</p>\n<p style=\"color:#999;font-size:12px;margin-top:20px\">Alerta automática — ${WF} QA Bupa Chile</p>\n</div>`;\n\nconst asunto = `❌ ${WF} Pipeline FALLÓ — ${pipeline} — ${branch} — Bug ${jiraKey} — ${hora} hrs`;\n\nreturn [{ json: { mensajeWA: encodeURIComponent(mensajeWA), htmlEmail, asunto, jiraKey, jiraUrl } }];"},"id":"03479c3a-a2fc-4cfc-8452-97c6fa9648eb","name":"Jira Crear Tarea","type":"n8n-nodes-base.code","typeVersion":2,"position":[3408,256]},{"parameters":{"method":"POST","url":"http://localhost:3025/send-email","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"to","value":"jaimeqv.2609@gmail.com"},{"name":"subject","value":"={{ $json.asunto }}"},{"name":"html","value":"={{ $json.htmlEmail }}"}]},"options":{"timeout":15000}},"id":"c0b920a9-171e-4cad-b1dc-12ddae64cdab","name":"Gmail Pipeline OK","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3360,496]},{"parameters":{"content":"## WF-1.9 — GitHub Pipeline → Gmail + WhatsApp + Jira\n\n**Trigger:** Webhook POST `/webhook/bupa-pipeline-result`\nGitHub Actions llama este endpoint al finalizar el job `notify`.\n\n**Payload esperado:**\n```\n{\n  \"pipeline\": \"BUPA Portal Pacientes\",\n  \"status\": \"PASSED\" | \"FAILED\",\n  \"branch\": \"master\",\n  \"actor\": \"jaime1992\",\n  \"run_url\": \"https://github.com/...\"\n}\n```\n\n**Si FAILED:** Gmail ❌ + WhatsApp + Jira Task\n**Si PASSED:** Gmail ✅ solo (sin WhatsApp ni Jira)\n\n**Requisito para CI:** Configurar secret `N8N_WEBHOOK_URL` en GitHub con la URL pública de este webhook. Para pruebas locales usar ngrok:\n`ngrok http 5678` → copiar URL → agregar `/webhook/bupa-pipeline-result`\n\n**Autor:** Jaime Quiñelen | Bupa Chile QA | Mayo 2026","height":420,"width":812,"color":3},"id":"975988e7-a29e-4a72-81dd-c3d9ed0c7bc4","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2208,-320]}],"connections":{"Webhook GitHub Pipeline":{"main":[[{"node":"IF Pipeline Falló","type":"main","index":0}]]},"IF Pipeline Falló":{"main":[[{"node":"Preparar Mensaje Fallo","type":"main","index":0}],[{"node":"Preparar Mensaje OK","type":"main","index":0}]]},"Preparar Mensaje Fallo":{"main":[[{"node":"Jira Crear Tarea","type":"main","index":0}]]},"Jira Crear Tarea":{"main":[[{"node":"Gmail Fallo Pipeline","type":"main","index":0},{"node":"WhatsApp Jaime","type":"main","index":0}]]},"Preparar Mensaje OK":{"main":[[{"node":"Gmail Pipeline OK","type":"main","index":0}]]}},"authors":"Jaime","name":null,"description":null,"autosaved":false},"tags":[]}