workflows/wf-1.2---jira-bugs-abiertos---excel---gmail--09am--2e9c486f-bd41-474e-ac26-c64dd48c5c76.json
{"updatedAt":"2026-05-13T16:26:17.000Z","createdAt":"2026-04-28T16:55:12.703Z","id":"2e9c486f-bd41-474e-ac26-c64dd48c5c76","name":"WF-1.2 — Jira Bugs Abiertos → Excel → Gmail (09am)","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 9 * * 1-5"}]}},"id":"041f0bfc-47e5-4953-ae0a-ebd366553be2","name":"Cada día 9am","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[848,576]},{"parameters":{"url":"https://qaprocess1.atlassian.net/rest/api/3/search/jql","sendQuery":true,"queryParameters":{"parameters":[{"name":"jql","value":"project = KAN AND issuetype = Bug AND status != Done ORDER BY priority DESC, created DESC"},{"name":"maxResults","value":"50"},{"name":"fields","value":"summary,status,priority,assignee,reporter,created,updated,description"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Basic amFpbWVxdi4yNjA5QGdtYWlsLmNvbTpBVEFUVDN4RmZHRjBOcC1xZWhIekZTaU1vbHItWEV2TndhemRCMVplcnNQVi1FZ2dBSjVYQ2sxZHBzbHI0MEJCZkR4dzdlOGJJVkoxZkFwZGlmaVU1VG1laEIyQXQ1c0lfZGxaZnRyN1NhczlIc2UwYmRUc0RyaElFOW9oOGJYMERqcVdlQ2xyelJ4OGJFM0VocUFEVzZLUGNSMGpTVDV2WE9fRFgwcjMyVkZjd3lKZFhNUjV3Njg9RDI0NkEzOUI="},{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"9f969181-0fd7-4b79-a089-455dabb8691f","name":"Jira: Bugs abiertos","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1088,576]},{"parameters":{"jsCode":"\nconst data   = $input.first().json;\nconst issues = data.issues || [];\nconst today  = new Date().toISOString().split('T')[0];\n\nconst bugs = issues.map(issue => {\n  const f = issue.fields || {};\n  return {\n    key:      issue.key,\n    summary:  (f.summary || '').substring(0, 120),\n    status:   f.status?.name    || 'Open',\n    priority: f.priority?.name  || 'Medium',\n    assignee: f.assignee?.displayName || 'Sin asignar',\n    reporter: f.reporter?.displayName || '',\n    created:  (f.created || '').substring(0, 10),\n    updated:  (f.updated || '').substring(0, 10),\n    url:      `https://qaprocess1.atlassian.net/browse/${issue.key}`,\n  };\n});\n\nreturn [{ json: { bugs, total: data.total || bugs.length, date: today } }];\n"},"id":"f7b3ecfd-cab0-4ca2-9a84-0bb84ccb6a48","name":"Procesar Bugs + Excel","type":"n8n-nodes-base.code","typeVersion":2,"position":[1328,576]},{"parameters":{"method":"POST","url":"http://localhost:3025/run-bugs-report","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}},"id":"e627aa64-abad-4c36-b884-4afac0f5ae67","name":"Enviar Gmail Bugs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1568,576]},{"parameters":{"content":"Workflow permite enviar correo con los errores pendientes en jira","height":80},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1136,480],"id":"57c220f4-bfea-4042-899b-d57f65b332b4","name":"Sticky Note"}],"connections":{"Cada día 9am":{"main":[[{"node":"Jira: Bugs abiertos","type":"main","index":0}]]},"Jira: Bugs abiertos":{"main":[[{"node":"Procesar Bugs + Excel","type":"main","index":0}]]},"Procesar Bugs + Excel":{"main":[[{"node":"Enviar Gmail Bugs","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{},"pinData":{},"versionId":"604a2cc8-a37e-431c-b907-f64c1ea68438","activeVersionId":"f0bb9bc4-85e5-49b6-af02-5d51a80db55b","triggerCount":1,"shared":[{"updatedAt":"2026-04-28T16:55:12.703Z","createdAt":"2026-04-28T16:55:12.703Z","role":"workflow:owner","workflowId":"2e9c486f-bd41-474e-ac26-c64dd48c5c76","projectId":"CJByUTkvH2EWoyIZ"}],"activeVersion":{"updatedAt":"2026-05-11T22:21:54.432Z","createdAt":"2026-05-11T22:21:54.432Z","versionId":"f0bb9bc4-85e5-49b6-af02-5d51a80db55b","workflowId":"2e9c486f-bd41-474e-ac26-c64dd48c5c76","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 12 * * 1-5"}]}},"id":"041f0bfc-47e5-4953-ae0a-ebd366553be2","name":"Cada día 9am","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[848,576]},{"parameters":{"url":"https://qaprocess1.atlassian.net/rest/api/3/search/jql","sendQuery":true,"queryParameters":{"parameters":[{"name":"jql","value":"project = KAN AND issuetype = Bug AND status != Done ORDER BY priority DESC, created DESC"},{"name":"maxResults","value":"50"},{"name":"fields","value":"summary,status,priority,assignee,reporter,created,updated,description"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Basic amFpbWVxdi4yNjA5QGdtYWlsLmNvbTpBVEFUVDN4RmZHRjBOcC1xZWhIekZTaU1vbHItWEV2TndhemRCMVplcnNQVi1FZ2dBSjVYQ2sxZHBzbHI0MEJCZkR4dzdlOGJJVkoxZkFwZGlmaVU1VG1laEIyQXQ1c0lfZGxaZnRyN1NhczlIc2UwYmRUc0RyaElFOW9oOGJYMERqcVdlQ2xyelJ4OGJFM0VocUFEVzZLUGNSMGpTVDV2WE9fRFgwcjMyVkZjd3lKZFhNUjV3Njg9RDI0NkEzOUI="},{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"9f969181-0fd7-4b79-a089-455dabb8691f","name":"Jira: Bugs abiertos","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1088,576]},{"parameters":{"jsCode":"\nconst data   = $input.first().json;\nconst issues = data.issues || [];\nconst today  = new Date().toISOString().split('T')[0];\n\nconst bugs = issues.map(issue => {\n  const f = issue.fields || {};\n  return {\n    key:      issue.key,\n    summary:  (f.summary || '').substring(0, 120),\n    status:   f.status?.name    || 'Open',\n    priority: f.priority?.name  || 'Medium',\n    assignee: f.assignee?.displayName || 'Sin asignar',\n    reporter: f.reporter?.displayName || '',\n    created:  (f.created || '').substring(0, 10),\n    updated:  (f.updated || '').substring(0, 10),\n    url:      `https://qaprocess1.atlassian.net/browse/${issue.key}`,\n  };\n});\n\nreturn [{ json: { bugs, total: data.total || bugs.length, date: today } }];\n"},"id":"f7b3ecfd-cab0-4ca2-9a84-0bb84ccb6a48","name":"Procesar Bugs + Excel","type":"n8n-nodes-base.code","typeVersion":2,"position":[1328,576]},{"parameters":{"method":"POST","url":"http://localhost:3025/run-bugs-report","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}},"id":"e627aa64-abad-4c36-b884-4afac0f5ae67","name":"Enviar Gmail Bugs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1568,576]},{"parameters":{"content":"Workflow permite enviar correo con los errores pendientes en jira","height":80},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1136,480],"id":"57c220f4-bfea-4042-899b-d57f65b332b4","name":"Sticky Note"}],"connections":{"Cada día 9am":{"main":[[{"node":"Jira: Bugs abiertos","type":"main","index":0}]]},"Jira: Bugs abiertos":{"main":[[{"node":"Procesar Bugs + Excel","type":"main","index":0}]]},"Procesar Bugs + Excel":{"main":[[{"node":"Enviar Gmail Bugs","type":"main","index":0}]]}},"authors":"Jaime Quiñelen","name":null,"description":null,"autosaved":true},"tags":[]}